/* responsive template setting */
@media only screen and (max-width: 990px) {
    .title{
        font-size: 25px;
        text-align: center;
    }
    p, h2, h3, h5, h6, h4{
        font-size: medium;
    }
    .navbar .title{
        font-size: 20px;
        padding: 20px 0 0 15px;
    }
    .getintouch-form{
        width: 70%;
        height: 70%;
        bottom: 0;
        display: none;
    }
    .getintouch img{
        display: none;
    }
    .form-display-btn{
        display: block;
    }
    #home-carousel .carousel-item {
        padding: 50px 30px 50px 30px;
    }
    #home-carousel .carousel-item p{
        font-size: 25px;
        width: 100%;
    }
    #home-carousel .carousel-item a{
        width: 60%;
    }
    .meet-ur-doc{
        width: 80%;
    }
    .doc-info{
        text-align: center;
    }
    .doc-info h1, .doc-info h3, .doc-info p{
        font-size: medium;
    }
    .footer-bottom #copyright{
        display: flex;
        justify-content: center;
    }
    .footer-bottom #copyright span, p{
        padding: 20px 0 0 10px;
        color: black;
        font-weight: 600;
    }
    
    .footer-bottom #contact{
        display: block;
        justify-content: center;
    }
    
    .footer-bottom #contact span, p{
        color: black;
        font-weight: 600;
    }
}
